.note {
	background: lightgray;
width: 476px;
height: 32px;

}

.block {
	width: 50px;
background: white;
border: 1px solid darkgray;
height: 30px;
display: inline-block;
}

.label {
	width: 50px;
padding: 5px;
color: white;
text-align: center;
vertical-align: top;
background: lightgray;
display: inline-block;
height: 0px;
}



.on2 {
	background: rgb(88, 92, 194);
}

.box {
	border: 5px solid gray;
	width: 476px;
	margin: 20px auto;
}

.flash {
	background: rgb(108, 148, 162);
}
.on {
	background: rgb(240, 208, 107);
}