.note {
	background: lightgray;
border: 1px solid darkred;
border-radius: 5px;
/* padding: 10px 30px; */
/* margin: 10px; */
width: 476px;
height: 32px;

}

.block {
	width: 50px;
background: white;
border: 1px solid darkgray;
height: 30px;
display: inline-block;
}

.label {
	width: 50px;
	padding: 5px;
	color: white;
	background: lightgray;
	display: inline-block;
	height: 0px;
}

.on {
	background: blue;
}